@charset "utf-8";
body {
	background-color:rgba(233,230,230,1.00);
}
#contenedor {	
	width: 800px;
	height: 500px;
	position: absolute;
	margin-left: 50px;
	margin-top: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
legend {
	font-size: 18px;
	margin-bottom: 15px;
}
fieldset {
	background-color:rgba(233,211,211,0.66);
	margin-bottom: 20px;
	text-shadow: 0px 0px 0px;
	-webkit-box-shadow: 5px 5px rgba(145,147,152,1.00);
	box-shadow: 5px 5px rgba(145,147,152,1.00);
	border-radius: 10px;
}
label {
	width: 25%;
  float: left;
  margin-bottom:15px;
}
label input, select {
	border-color: rgba(7,7,7,1.00);
	border-style: outset;
	-webkit-box-shadow: 2px 2px rgba(159,159,159,1.00);
	box-shadow: 2px 2px rgba(159,159,159,1.00);
}
.libre {
clear:both;	
}
.error {
	color:red;
	width:auto;
}
input, select {
	padding-left: .6em;
	padding-right: .6em;
	padding-bottom: .4em;
	padding-top: .4em;
	border-radius: 10px;
}
label input:focus,select:focus {
	box-shadow: 0 0 5px rgba(0,0,255,1);
	border:1px solid rgba(0,0,255,0.8);
	}
	
 div > input{
	background-color:rgba(211,211,211,1.00);
	font-size:1.2em;
	margin-left:25%;
	margin-bottom:20px;
	margin-top:20px;
}
#autor {
	text-decoration: blink;
	font-size: 20px;
	text-align: center;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 20px;
	text-shadow: 0px 0px 10px;
}
label.largo {
	margin-right:60px;
}
label.largo input{
	width:200px;
}
.todo  {
	width:100%;
}
em {
	margin:80px;
}
